<!-- Modal para registrar productos -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Registrar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="productForm">
                    <div class="form-row">
                        <div class="form-groupname">
                            <label for="product_name">Nombre del Producto:</label>
                            <input type="text" class="form-control" id="product_name" name="product_name" oninput="checkRequiredFields()" required>
                        </div>
                        <div class="form-groupname">
                            <label for="product_code">Código del Producto:</label>
                            <input type="text" class="form-control" id="product_code" name="product_code" required>
                        </div>
                    </div>
                    <div class="category-container">
                        <div class="form-group">
                            <label for="category">Clase:</label>
                            <select class="form-control" id="category" name="category" onchange="loadSubcategories(this.value, 'subcategory1')" required>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subcategory1">Área Aplicación:</label>
                            <select class="form-control" id="subcategory1" name="subcategory1" onchange="loadSubcategories(this.value, 'subcategory2')">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subcategory2">Tipo de Producto:</label>
                            <select class="form-control" id="subcategory2" name="subcategory2" onchange="loadSubcategories(this.value, 'subcategory3')">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subcategory3">Activo / Presentación:</label>
                            <select class="form-control" id="subcategory3" name="subcategory3" onchange="loadSubcategories(this.value, 'subcategory4')">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subcategory4">Marca:</label>
                            <select class="form-control" id="subcategory4" name="subcategory4">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sale_price">Precio Venta:</label>
                        <input type="number" class="form-control" id="sale_price" name="sale_price" value="0" step="0.01" oninput="checkRequiredFields()" required>
                    </div>
                    <h3>Atributos del Producto</h3>
                    <div id="attributeContainer">
                        <!-- Atributos se llenarán dinámicamente -->
                    </div>
                    <div class="form-buttons">
                        <button type="button" class="btn btn-secondary mt-3" id="addAttributeButton" onclick="addAttribute()" disabled><i class="bi bi-plus-circle"></i> Nuevo Atributo</button>
                        <button type="button" class="btn btn-primary mt-3" id="addProductButton" onclick="addProduct()">Agregar Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar productos -->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <div class="form-row">
                        <div class="form-groupname">
                            <label for="edit_product_name">Nombre del Producto:</label>
                            <input type="text" class="form-control" id="edit_product_name" name="edit_product_name" oninput="checkRequiredFields()" required>
                        </div>
                        <div class="form-groupname">
                            <label for="edit_product_code">Código del Producto:</label>
                            <input type="text" class="form-control" id="edit_product_code" name="edit_product_code">
                        </div>
                    </div>
                    <div class="category-container">
                        <div class="form-group">
                            <label for="edit_category">Clase:</label>
                            <select class="form-control" id="edit_category" name="edit_category" onchange="loadSubcategories(this.value, 'edit_subcategory1')" required>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_subcategory1">Área Aplicación:</label>
                            <select class="form-control" id="edit_subcategory1" name="edit_subcategory1" onchange="loadSubcategories(this.value, 'edit_subcategory2')">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_subcategory2">Tipo de Producto:</label>
                            <select class="form-control" id="edit_subcategory2" name="edit_subcategory2" onchange="loadSubcategories(this.value, 'edit_subcategory3')">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_subcategory3">Activo / Presentación:</label>
                            <select class="form-control" id="edit_subcategory3" name="edit_subcategory3" onchange="loadSubcategories(this.value, 'edit_subcategory4')">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_subcategory4">Marca:</label>
                            <select class="form-control" id="edit_subcategory4" name="edit_subcategory4">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit_sale_price">Precio Venta:</label>
                        <input type="number" class="form-control" id="edit_sale_price" name="edit_sale_price" value="0" step="0.01" oninput="checkRequiredFields()" required>
                    </div>
                    <h3>Atributos del Producto</h3>
                    <div id="edit_attributeContainer">
                        <!-- Atributos se llenarán dinámicamente -->
                    </div>
                    <div class="form-buttons">
                        <button type="button" class="btn btn-secondary mt-3" id="edit_addAttributeButton" onclick="addEditAttribute()"><i class="bi bi-plus-circle"></i> Nuevo Atributo</button>
                        <button type="button" id="modalActionButton" class="btn btn-primary mt-3" onclick="updateProduct()">Actualizar Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal para listar los productos registrados-->
<div class="modal fade" id="productLinksModal" tabindex="-1" role="dialog" aria-labelledby="productLinksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productLinksModalLabel">Productos Registrados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A continuación se muestran los enlaces a los productos registrados en Odoo:</p>
                <div id="productLinks"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="createOrderButton" onclick="redirectToOrderPage()">Crear Orden de Compra</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


