body {
    background-color: #f8f9fa; /* Un color de fondo suave, que es diferente del blanco estándar */
}

.navbar {
    border-bottom: 1px solid #e0e0e0; /* Añade una línea debajo de la barra de navegación */
}

.main {
    padding-top: 20px; /* Espacio entre el contenido y la barra de navegación */
}

#productList {
    background-color: #ffffff; /* Fondo blanco para la lista de productos */
    border: 1px solid #e0e0e0; /* Borde sutil para la lista */
    border-radius: 5px; /* Bordes redondeados para la lista */
    padding: 20px; /* Espacio dentro del contenedor de la lista */
    margin-top: 20px; /* Espacio arriba del contenedor de la lista */
}

.btn-success {
    background-color: #28a745; /* Verifica que el color de los botones de éxito sea el deseado */
}

.attribute_table {
    width: 100%;
    margin-top: 20px;
}

.attribute_table table {
    width: 100%;
    border-collapse: collapse;
}

.attribute_table th, .attribute_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.attribute_table th {
    background-color: #f2f2f2;
}

.swal2-popup.center-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-select-group {
    flex: 1 1 200px;
}

.modal-body {
    overflow-y: auto;
    padding: 20px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.category-container .form-group {
    flex: 1 1 30%; /* Ajusta esto según el ancho deseado para cada <select> */
}

@media (max-width: 768px) {
    .category-container .form-group {
        flex: 1 1 100%; /* Ocupa todo el ancho en dispositivos móviles */
    }
}

#addAttributeButton {
    margin-top: 10px;
    width: 100%;
}

#edit_addAttributeButton {
    margin-top: 10px;
    width: 100%;
}

#productForm {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

#attributeContainer {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.position{
    text-align: center;
}

.button_contenedor{
    text-align: right;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide el espacio disponible en dos fracciones iguales */
    column-gap: 20px; /* Espacio entre las columnas */
    padding: 10px; /* Espacio alrededor de los elementos */
}

.price_extra_div,
.reference_extra_div {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.price_extra_div {
    width: 44%;
}

.reference_extra_div {
    width: 44%;
}

.form-groupname {
    flex: 1;
    padding: 0 6px;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}