<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Producto</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <main class="container mt-5">
        <h1>Gestión de Productos</h1>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#productModal">
            <i class="bi bi-plus-circle"></i> Registrar Producto
        </button>

        <!-- Modal para registrar productos -->
        {% include 'modal/m_producto.html' %}

        <div class="mt-4">
            <h2>Lista de Productos</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categorías</th>
                        <th>Precio Venta</th>
                        <th>Valores de Atributos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="productList"></tbody>
            </table>
            <button type="button" class="btn btn-primary" onclick="registerProducts()">Guardar Productos</button>
        </div>
    </main>

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/producto.js') }}"></script>
</body>
</html>
